/* App-wide styles */
.App {
  text-align: center;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  flex: 1;
}

h1 {
  color: #333;
}

/* Additional styles for the header */
header {
  margin-bottom: 20px;
}

/* Ensure the footer stays at the bottom */
html, body, #root, .App {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #f1f1f1;
  padding: 10px 0;
  text-align: center;
  margin-top: auto;
}